/*!
 *   AdminLTE v2.4.0
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <https://adminlte.io>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */

.form-control {
    border-radius: 0px;
    box-shadow: none;
    border-color: #d2d6de;
    border: none !important;
    border-bottom: 1px solid #c6c6c6 !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
    padding-bottom: 30px !important;
}